<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="boostrap.css">
    <link rel="stylesheet" href="main.css">
    <title>hje</title>
</head>
<body>
    <header><ul>
        <li><a class="active" href="">test2</a></li>
      
        <li><a href="index">index</a></li>
        <li><a href="liverpool">liverpool</a></li>
        <li><a href="">test4</a></li>
        <li><a href="">test5</a></li>
    </ul></header>
    
    



<form action="/index" method="post">
    <input type="email" name="email" id="">
<input type="text" name="message">
<button type="submit">Skicka post</button>
</form>


<div class="classForMessages">
    <h1>MessageBoard:</h1>
    <% for(let i = 0; i < message.length; i++) { %>
        <p> meddelanden: <%= message[i].text %>  </p>
        <p> mail: <%= message[i].email %> </p>
       
    <% } %> 
    
</div>


</body>
</html>