<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">

</head>

<body class="kontaktbody">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><img src="ibkUtbySvart.png" style="width: 5%; height: 5%;"></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Start</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Herr</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <a class="dropdown-item" href="nyheter">nyheter</a>
                        <a class="dropdown-item" href="#">trupp</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="nyheter">Nyheter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kontakt">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="klubb">Klubb</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kalender">Kalender</a>
                </li>

            </ul>

        </div>
    </nav>
    <div class="container">
        <div class="newstext">
            <img src="ibkUtbySvart.png" style="text-align: center; padding: 1%;" width="17%">
            <h3 style="padding: 1%;"> Föreningen - IBK Utby Empire </h3>

        </div>
        <div class="row">
            <div class="col">
                
                <div class="jumbotron jumbotron-fluid" style=" background-color: rgb(197,34,145);">
                    <div class="container-fluid">

                       
                        <h2 class="kontakttext"> Information: </h2>

                        <ul class="list-group">
                            <li class="list-group-item list-group-item-danger">
                                <h3 class="kontakttext" style="text-align: center;"> IBK Utby </h3>

                            </li>


                            <li class="list-group-item list-group-item-danger">
                                <h6 class="kontakttext"> Adress: </h6>
                                <p class="kontakttext"> Slåttängsgatan 2 E </p>
                            </li>

                            <li class="list-group-item list-group-item-danger">
                                <h6 class="kontakttext"> E-post: </h6>
                                <p class="kontakttext"> ibkUtby.gmail.com </p>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                <h6 class="kontakttext"> Org. Nummer: </h6>
                                <p class="kontakttext"> 1337</p>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                <h6 class="kontakttext"> BankGiro: </h6>
                                <p class="kontakttext"> 1337</p>
                            </li>

                            <li class="list-group-item list-group-item-danger">
                                <h6 class="kontakttext"> Swish-nummer: </h6>
                                <p class="kontakttext"> 1337</p>
                            </li>


                        </ul>

                        <h2 class="kontakttext" style="margin-top: 4%;"> Lag-information: </h2>

                        <ul class="list-group" style="margin-top: 2%;">
                            <li class="list-group-item list-group-item-danger">
                                <h3 class="kontakttext" style="text-align: center;"> Herr Ledare </h3>

                            </li>

                            <li class="list-group-item list-group-item-danger">
                                <h6 class="kontakttext">  Manuel</h6>
                                <p class="kontakttext"> 0703545656 <br> namn.efternman@ibkUtby.se</p>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                <h6 class="kontakttext"> Elliot </h6>
                                <p class="kontakttext"> 07032424 <br> namn.efternman@ibkUtby.se</p>
                            </li>

                            <li class="list-group-item list-group-item-danger">
                                <h6 class="kontakttext"> Sixten</h6>
                                <p class="kontakttext"> 07035345353 <br> namn.efternman@ibkUtby.se</p>
                            </li>


                        </ul>


                    </div>
                </div>
            </div>
            <div class="col">

                <div class="jumbotron jumbotron-fluid" style=" background-color: rgb(197,34,145);">
                    <div class="container-fluid">

                        <div class="newstext">
                          
                          

                        </div>
                      
                         
                            <ul class="list-group" style="margin-top: 9%;">
                                <li class="list-group-item list-group-item-danger">
                                    <h3 class="kontakttext" style="text-align: center;"> Styrelsen </h3>
    
                                </li>
                                <li class="list-group-item list-group-item-danger">
                                    <h6 class="kontakttext"> Ordförande </h6>
                                    <p class="kontakttext"> Jao <br>ordforande@ibkutby.se </p>
                                </li>
    
                                <li class="list-group-item list-group-item-danger">
                                    <h6 class="kontakttext"> Kassör</h6>
                                    <p class="kontakttext"> Origi <br> kassor@ibkutby.se </p>
                                </li>
                                <li class="list-group-item list-group-item-danger">
                                    <h6 class="kontakttext"> Sekreterare </h6>
                                    <p class="kontakttext"> Berry <br>sekreterare@ibkutby.se</p>
                                </li>
                                <li class="list-group-item list-group-item-danger">
                                    <h6 class="kontakttext"> Ledamot </h6>
                                    <p class="kontakttext"> Jota <br>elliot.larson@ibkutby.se</p>
                                </li>
    
                                <li class="list-group-item list-group-item-danger">
                                    <h6 class="kontakttext"> Ledamot </h6>
                                    <p class="kontakttext"> Chelsea FC <br>kalle.loebbert@ibkutby.se</p>
                                </li>
                                <li class="list-group-item list-group-item-danger">
                                    <h6 class="kontakttext"> Suppleant </h6>
                                    <p class="kontakttext"> SADIO Mane <br>Mail</p>
                                </li>
    
                            </ul>
                      
                      

                        <div class="kontakt-herr">
                        <h4 class="kontakttext"> Herr-kontakt </h4>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-danger">
                                <h6 class="kontakttext"> Hemmaarena: </h6>
                                <p class="kontakttext"> Prioritet Serneke Arena</p>
                            </li>

                            <li class="list-group-item list-group-item-danger">
                                <h6 class="kontakttext"> E-Post:</h6>
                                <p class="kontakttext"> ibkUtbyHerr.gmail.com </p>
                            </li>
                        </ul>
                    </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="navbar-dark text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Ibk Utby</h5>

                    <p>
                        <img src="ibkUtbySvart.png" width="40%">
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Sociala medier</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Instagram</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Facebook</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Youtube</a>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">länkar</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Våra Stadgar</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Svenska innebandyförbundet</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">H6 Serie</a>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-dark" href="#">IBK UTBY EMPIRE</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>