<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="main.css">

</head>

<body class="newsbody">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="ibkUtbySvart.png"  class="img-brand"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Start</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Herr</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <a class="dropdown-item" href="nyheter">nyheter</a>
            <a class="dropdown-item" href="#">trupp</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="nyheter">Nyheter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="kontakt">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="klubb">Klubb</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="kalender">Kalender</a>
        </li>

      </ul>

    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid" style=" background-color: rgb(197,34,145);">
    <div class="container-fluid">

      <div class="newstext">
        <img src="nyheterBild.jpg" style="float: left; padding: 1%;" width="33%">
        <h3 style="padding: 1%;"> Innebandy säsongen pausas!</h3>
        <p>Nu har de gått ut med att stänga alla sporthallar vilket innebär att vi inte kommer träna eller spela
          inomhus.
          Vi kommer dock att starta med utomhus träningar i den mängd det går tillsvidare samt att få individuella pass
          man kör också.
          Mer information återkommer vi med när efter mötet ikväll med styrelsen.
        </p>
      </div>

    </div>
  </div>

  <div class="jumbotron jumbotron-fluid" style=" background-color: rgb(197,34,145);">
    <div class="container-fluid">

      <div class="newstext">
        <img src="nyheterBildTva.jpg" style="float: left; padding: 1%;" width="33%">
        <h3 style="padding: 1%;"> Grabbarna tog en storvinst mot Lerum i Borgen! </h3>
        <p>Segertåget rullar på! Grabbarna tog under gårdagen en solklar seger mot Lerum i Borgen!
          willian valde att skicka vidare hatten till sadio mane på grund av hans fina assister samt mål.
          Matchens glajjor(sletnaste) tilldelades walle för han sköt lika många skott som hela Utby och Lerum
          tillsammans. Trots detta gjorde han hela 0(!) mål. Be there, ha de gött haj

        </p>
      </div>

    </div>
  </div>

  <div class="jumbotron jumbotron-fluid" style=" background-color: rgb(197,34,145);">
    <div class="container-fluid">

      <div class="newstext">
        <img src="nyheterBildTre.jpg" style="float: left; padding: 1%;" width="33%">
        <h3 style="padding: 1%;"> Första poänget Avklarat! </h3>
        <p> VAMOOOS. Grabbarna tar sina första poäng och det med råge! Vinst 11-6 mot backadalen.
          Det var en jämn match under inledningsvis av matchen men Jota smäller till med första målet efter dryga 7 min
          på kontring rakt upp i första krysset.
          Efter första målet så släppte de på grabbarna och de började lira fin-innebandy och efter första perioden stod
          det 5-0 till the Empire.




        </p>
        <p> Dock kom man ut
          i andra perioden lite för avslappnat tankesätt och bjuder in Backadalen i matchen med att släppa in två mål.
          Dock så fortsatte The Empire trumma på och man gjorde så att de aldrig fick
          kvittera och Sadio Mane med en smör pass till 9 målet blev det sista för att ta ut Backadalens energi
          fullständigt.</p>
        <p>
          Jota valde att skicka vidare hatten till Willian och matchens sletnaste går till Benteke, Berry, Chelsea FC.
          Vi hopppas att formen håller i sig och nästa söndag gästar Lerum i Borgen 17:00 Be there. Ha de gött haj!
        </p>
      </div>

    </div>
  </div>



  <!-- Footer -->
  <footer class="navbar-dark text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Ibk Utby</h5>

          <p>
            <img src="ibkUtbySvart.png" width="40%">
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Sociala medier</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Instagram</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Facebook</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Youtube</a>
            </li>

          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">länkar</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Våra Stadgar</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Svenska innebandyförbundet</a>
            </li>
            <li>
              <a href="#!" class="text-dark">H6 Serie</a>
            </li>

          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="#">IBK UTBY EMPIRE</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>